In [3]:
import pandas as pd
import matplotlib.pyplot as pt
print('Cargados')

Cargados

In [77]:
##cargamos el archivo .csv
datos = pd.read_csv('C:\\countries of the world.csv', sep = ',')
print(type(datos))
print(len(datos))

<class 'pandas.core.frame.DataFrame'>
227

In [78]:
datos.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [79]:
popu = datos.iloc[7:15,0:8]

In [80]:
popu

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births)
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"156,0","34,54","-6,15","19,46"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18"
9,Armenia,C.W. OF IND. STATES,2976372,29800,"99,9","0,00","-6,47","23,28"
10,Aruba,LATIN AMER. & CARIB,71891,193,"372,5","35,49",0,"5,89"
11,Australia,OCEANIA,20264082,7686850,"2,6","0,34","3,98","4,69"
12,Austria,WESTERN EUROPE,8192880,83870,"97,7","0,00",2,"4,66"
13,Azerbaijan,C.W. OF IND. STATES,7961619,86600,"91,9","0,00","-4,9","81,74"
14,"Bahamas, The",LATIN AMER. & CARIB,303770,13940,"21,8","25,41","-2,2","25,21"

In [82]:
datos.set_index('Country', inplace = True)

In [83]:
datos.head()

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [87]:
datos.index.get_values()

array(['Afghanistan ', 'Albania ', 'Algeria ', 'American Samoa ',
       'Andorra ', 'Angola ', 'Anguilla ', 'Antigua & Barbuda ',
       'Argentina ', 'Armenia ', 'Aruba ', 'Australia ', 'Austria ',
       'Azerbaijan ', 'Bahamas, The ', 'Bahrain ', 'Bangladesh ',
       'Barbados ', 'Belarus ', 'Belgium ', 'Belize ', 'Benin ',
       'Bermuda ', 'Bhutan ', 'Bolivia ', 'Bosnia & Herzegovina ',
       'Botswana ', 'Brazil ', 'British Virgin Is. ', 'Brunei ',
       'Bulgaria ', 'Burkina Faso ', 'Burma ', 'Burundi ', 'Cambodia ',
       'Cameroon ', 'Canada ', 'Cape Verde ', 'Cayman Islands ',
       'Central African Rep. ', 'Chad ', 'Chile ', 'China ', 'Colombia ',
       'Comoros ', 'Congo, Dem. Rep. ', 'Congo, Repub. of the ',
       'Cook Islands ', 'Costa Rica ', "Cote d'Ivoire ", 'Croatia ',
       'Cuba ', 'Cyprus ', 'Czech Republic ', 'Denmark ', 'Djibouti ',
       'Dominica ', 'Dominican Republic ', 'East Timor ', 'Ecuador ',
       'Egypt ', 'El Salvador ', 'Equatorial Guinea ', 'Eritrea ',
       'Estonia ', 'Ethiopia ', 'Faroe Islands ', 'Fiji ', 'Finland ',
       'France ', 'French Guiana ', 'French Polynesia ', 'Gabon ',
       'Gambia, The ', 'Gaza Strip ', 'Georgia ', 'Germany ', 'Ghana ',
       'Gibraltar ', 'Greece ', 'Greenland ', 'Grenada ', 'Guadeloupe ',
       'Guam ', 'Guatemala ', 'Guernsey ', 'Guinea ', 'Guinea-Bissau ',
       'Guyana ', 'Haiti ', 'Honduras ', 'Hong Kong ', 'Hungary ',
       'Iceland ', 'India ', 'Indonesia ', 'Iran ', 'Iraq ', 'Ireland ',
       'Isle of Man ', 'Israel ', 'Italy ', 'Jamaica ', 'Japan ',
       'Jersey ', 'Jordan ', 'Kazakhstan ', 'Kenya ', 'Kiribati ',
       'Korea, North ', 'Korea, South ', 'Kuwait ', 'Kyrgyzstan ',
       'Laos ', 'Latvia ', 'Lebanon ', 'Lesotho ', 'Liberia ', 'Libya ',
       'Liechtenstein ', 'Lithuania ', 'Luxembourg ', 'Macau ',
       'Macedonia ', 'Madagascar ', 'Malawi ', 'Malaysia ', 'Maldives ',
       'Mali ', 'Malta ', 'Marshall Islands ', 'Martinique ',
       'Mauritania ', 'Mauritius ', 'Mayotte ', 'Mexico ',
       'Micronesia, Fed. St. ', 'Moldova ', 'Monaco ', 'Mongolia ',
       'Montserrat ', 'Morocco ', 'Mozambique ', 'Namibia ', 'Nauru ',
       'Nepal ', 'Netherlands ', 'Netherlands Antilles ',
       'New Caledonia ', 'New Zealand ', 'Nicaragua ', 'Niger ',
       'Nigeria ', 'N. Mariana Islands ', 'Norway ', 'Oman ', 'Pakistan ',
       'Palau ', 'Panama ', 'Papua New Guinea ', 'Paraguay ', 'Peru ',
       'Philippines ', 'Poland ', 'Portugal ', 'Puerto Rico ', 'Qatar ',
       'Reunion ', 'Romania ', 'Russia ', 'Rwanda ', 'Saint Helena ',
       'Saint Kitts & Nevis ', 'Saint Lucia ', 'St Pierre & Miquelon ',
       'Saint Vincent and the Grenadines ', 'Samoa ', 'San Marino ',
       'Sao Tome & Principe ', 'Saudi Arabia ', 'Senegal ', 'Serbia ',
       'Seychelles ', 'Sierra Leone ', 'Singapore ', 'Slovakia ',
       'Slovenia ', 'Solomon Islands ', 'Somalia ', 'South Africa ',
       'Spain ', 'Sri Lanka ', 'Sudan ', 'Suriname ', 'Swaziland ',
       'Sweden ', 'Switzerland ', 'Syria ', 'Taiwan ', 'Tajikistan ',
       'Tanzania ', 'Thailand ', 'Togo ', 'Tonga ', 'Trinidad & Tobago ',
       'Tunisia ', 'Turkey ', 'Turkmenistan ', 'Turks & Caicos Is ',
       'Tuvalu ', 'Uganda ', 'Ukraine ', 'United Arab Emirates ',
       'United Kingdom ', 'United States ', 'Uruguay ', 'Uzbekistan ',
       'Vanuatu ', 'Venezuela ', 'Vietnam ', 'Virgin Islands ',
       'Wallis and Futuna ', 'West Bank ', 'Western Sahara ', 'Yemen ',
       'Zambia ', 'Zimbabwe '], dtype=object)

In [97]:
datos.rename(columns={'Population':'populationss'}, inplace=True)

In [96]:
datos.columns

Index(['Region', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)',
       'Coastline (coast/area ratio)', 'Net migration',
       'Infant mortality (per 1000 births)', 'GDP ($ per capita)',
       'Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 'Crops (%)',
       'Other (%)', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture',
       'Industry', 'Service'],
      dtype='object')

In [98]:
datos.head()

,Region,populationss,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [101]:
datos.loc['Albania ':'Andorra ',['Region','Climate','Birthrate']]

                                              Region Climate Birthrate
Country
Albania          EASTERN EUROPE                            3     15,11
Algeria          NORTHERN AFRICA                           1     17,14
American Samoa   OCEANIA                                   2     22,46
Andorra          WESTERN EUROPE                            3      8,71

In [114]:
datos['Region'].unique()

array(['ASIA (EX. NEAR EAST)         ',
       'EASTERN EUROPE                     ',
       'NORTHERN AFRICA                    ',
       'OCEANIA                            ',
       'WESTERN EUROPE                     ',
       'SUB-SAHARAN AFRICA                 ', 'LATIN AMER. & CARIB    ',
       'C.W. OF IND. STATES ', 'NEAR EAST                          ',
       'NORTHERN AMERICA                   ',
       'BALTICS                            ', 'POP'], dtype=object)

In [120]:
datos.groupby(['Region','Climate'])['populationss'].sum()

Region                               Climate
ASIA (EX. NEAR EAST)                 1           268381214
                                     1,5        1313973713
                                     2           782564714
                                     2,5        1095351995
                                     3           199423453
BALTICS                              3             3599068
C.W. OF IND. STATES                  1            40311673
                                     2             7320815
                                     2,5           5213898
                                     3            51372289
                                     4            28502627
EASTERN EUROPE                       3            99514234
                                     4             4498976
LATIN AMER. & CARIB                  1,5         144741174
                                     2           357595441
                                     3            59487984
NEAR EAST                            1           109754702
                                     3            81439625
NORTHERN AFRICA                      1           112090106
                                     3            10175014
NORTHERN AMERICA                     1               56361
                                     2               65773
                                     3           298444215
OCEANIA                              1            20264082
                                     2             8791440
                                     3             4076140
POP                                  POP               POP
SUB-SAHARAN AFRICA                   1            72923967
                                     1,5         188695244
                                     2           426009932
                                     2,5           1136334
                                     3            11091558
WESTERN EUROPE                       3           276284771
                                     4            60910123
Name: populationss, dtype: object

In [122]:
datos.reset_index(inplace = True)

In [123]:
datos.head()

,Country,Region,populationss,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [143]:
## queremos ver los paises con clima c(2,3) y population > 550000
seleccion = datos[datos['Climate'] == '3']

In [144]:
seleccion

,Country,Region,populationss,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
12,Austria,WESTERN EUROPE,8192880,83870,"97,7","0,00",2,"4,66",30000,"98,0","452,2","16,91","0,86","82,23",3,"8,74","9,76","0,018","0,304","0,678"
19,Belgium,WESTERN EUROPE,10379067,30528,"340,0","0,22","1,23","4,68",29100,"98,0","462,6","23,28","0,4","76,32",3,"10,38","10,27","0,01","0,24","0,749"
30,Bulgaria,EASTERN EUROPE,7385367,110910,"66,6","0,32","-4,58","20,55",7600,"98,6","336,3","40,02","1,92","58,06",3,"9,65","14,27","0,093","0,304","0,603"
37,Cape Verde,SUB-SAHARAN AFRICA,420979,4033,"104,4","23,93","-12,07","47,77",1400,"76,6","169,6","9,68","0,5","89,82",3,"24,87","6,55","0,121","0,219","0,66"
41,Chile,LATIN AMER. & CARIB,16134219,756950,"21,3","0,85",0,"8,8",9900,"96,2","213,0","2,65","0,42","96,93",3,"15,23","5,81","0,06","0,493","0,447"
52,Cyprus,NEAR EAST,784301,9250,"84,8","7,01","0,43","7,18",19200,"97,6",NaN,"7,79","4,44","87,77",3,"12,56","7,68","0,037","0,198","0,765"
53,Czech Republic,EASTERN EUROPE,10235455,78866,"129,8","0,00","0,97","3,93",15700,"99,9","314,3","39,8","3,05","57,15",3,"9,02","10,59","0,034","0,393","0,573"
54,Denmark,WESTERN EUROPE,5450661,43094,"126,5","16,97","2,48","4,56",31100,"100,0","614,6","54,02","0,19","45,79",3,"11,13","10,36","0,018","0,246","0,735"
64,Estonia,BALTICS,1324333,45226,"29,3","8,39","-3,16","7,87",12300,"99,8","333,8","16,04","0,45","83,51",3,"10,04","13,25","0,04","0,294","0,666"
68,Finland,WESTERN EUROPE,5231372,338145,"15,5","0,37","0,95","3,57",27400,"100,0","405,3","7,19","0,03","92,78",3,"10,45","9,86","0,028","0,295","0,676"
74,Gaza Strip,NEAR EAST,1428757,360,"3968,8","11,11","1,6","22,93",600,NaN,"244,3","28,95","21,05",50,3,"39,45","3,8","0,03","0,283","0,687"
75,Georgia,C.W. OF IND. STATES,4661473,69700,"66,9","0,44","-4,7","18,59",2500,"99,0","146,6","11,44","3,86","84,7",3,"10,41","9,23","0,172","0,275","0,553"
76,Germany,WESTERN EUROPE,82422299,357021,"230,9","0,67","2,18","4,16",27600,"99,0","667,9","33,85","0,59","65,56",3,"8,25","10,62","0,009","0,296","0,695"
79,Greece,WESTERN EUROPE,10688058,131940,"81,0","10,37","2,35","5,53",20000,"97,5","589,7","21,1","8,78","70,12",3,"9,68","10,24","0,054","0,213","0,733"
85,Guernsey,WESTERN EUROPE,65409,78,"838,6","64,10","3,84","4,71",20000,NaN,"842,4",NaN,NaN,NaN,3,"8,81","10,01","0,03","0,1","0,87"
92,Hungary,EASTERN EUROPE,9981334,93030,"107,3","0,00","0,86","8,57",13900,"99,4","336,2","50,09","2,06","47,85",3,"9,72","13,11","0,037","0,312","0,651"
93,Iceland,WESTERN EUROPE,299388,103000,"2,9","4,83","2,38","3,31",30900,"99,9","647,7","0,07",0,"99,93",3,"13,64","6,72","0,086","0,15","0,765"
98,Ireland,WESTERN EUROPE,4062235,70280,"57,8","2,06","4,99","5,39",29600,"98,0","500,5","15,2","0,03","84,77",3,"14,45","7,82","0,05","0,46","0,49"
99,Isle of Man,WESTERN EUROPE,75441,572,"131,9","27,97","5,36","5,93",21000,NaN,"676,0",9,0,91,3,"11,05","11,19","0,01","0,13","0,86"
100,Israel,NEAR EAST,6352117,20770,"305,8","1,31","0,68","7,03",19800,"95,4","462,3","16,39","4,17","79,44",3,"17,97","6,18","0,026","0,317","0,657"
103,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200,"99,0","461,2","12,19","0,96","86,85",3,"9,37","9,16","0,017","0,258","0,725"
104,Jersey,WESTERN EUROPE,91084,116,"785,2","60,34","2,76","5,24",24800,NaN,"811,3",0,0,100,3,"9,3","9,28","0,05","0,02","0,93"
109,"Korea, North",ASIA (EX. NEAR EAST),23113019,120540,"191,8","2,07",0,"24,04",1300,"99,0","42,4","20,76","2,49","76,75",3,"15,54","7,13","0,3","0,34","0,36"
110,"Korea, South",ASIA (EX. NEAR EAST),48846823,98480,"496,0","2,45",0,"7,05",17800,"97,9","486,1","17,18","1,95","80,87",3,10,"5,85","0,033","0,403","0,563"
114,Latvia,BALTICS,2274735,64589,"35,2","0,82","-2,23","9,55",10200,"99,8","321,4","29,67","0,47","69,86",3,"9,24","13,66","0,04","0,261","0,699"
116,Lesotho,SUB-SAHARAN AFRICA,2022331,30355,"66,6","0,00","-0,74","84,23",3000,"84,8","23,7","10,87","0,13",89,3,"24,75","28,71","0,163","0,443","0,394"
123,Macedonia,EASTERN EUROPE,2050554,25333,"80,9","0,00","-1,45","10,09",6700,NaN,"260,0","22,26","1,81","75,93",3,"12,02","8,77","0,118","0,319","0,563"
146,Netherlands,WESTERN EUROPE,16491461,41526,"397,1","1,09","2,91","5,04",28600,"99,0","460,8","26,71","0,97","72,32",3,"10,9","8,68","0,021","0,244","0,736"
149,New Zealand,OCEANIA,4076140,268680,"15,2","5,63","4,05","5,85",21600,"99,0","441,7","5,6","6,99","87,41",3,"13,76","7,53","0,043","0,273","0,684"
154,Norway,WESTERN EUROPE,4610820,323802,"14,2","7,77","1,74","3,7",37800,"100,0","461,7","2,87",0,"97,13",3,"11,46","9,4","0,021","0,415","0,564"
163,Poland,EASTERN EUROPE,38536869,312685,"123,3","0,16","-0,49","8,51",11100,"99,8","306,3","45,91","1,12","52,97",3,"9,85","9,89","0,05","0,311","0,64"
164,Portugal,WESTERN EUROPE,10605870,92391,"114,8","1,94","3,57","5,05",18000,"93,3","399,2","21,75","7,81","70,44",3,"10,72","10,5","0,053","0,274","0,673"
168,Romania,EASTERN EUROPE,22303552,237500,"93,9","0,09","-0,13","26,43",7000,"98,4","196,9","40,82","2,25","56,93",3,"10,7","11,77","0,101","0,35","0,549"
170,Rwanda,SUB-SAHARAN AFRICA,8648248,26338,"328,4","0,00",0,"91,23",1300,"70,4","2,7","40,54","12,16","47,3",3,"40,37","16,09","0,401","0,229","0,37"
185,Slovakia,EASTERN EUROPE,5439448,48845,"111,4","0,00","0,3","7,41",13300,NaN,"220,1","30,16","2,62","67,22",3,"10,65","9,45","0,035","0,294","0,672"
190,Spain,WESTERN EUROPE,40397842,504782,"80,0","0,98","0,99","4,42",22000,"97,9","453,5","26,07","9,87","64,06",3,"10,06","9,72","0,04","0,295","0,665"
195,Sweden,WESTERN EUROPE,9016596,449964,"20,0","0,72","1,67","2,77",26800,"99,0","715,0","6,54","0,01","93,45",3,"10,27","10,31","0,011","0,282","0,707"
196,Switzerland,WESTERN EUROPE,7523934,41290,"182,2","0,00","4,05","4,39",32700,"99,0","680,9","10,42","0,61","88,97",3,"9,71","8,49","0,015","0,34","0,645"
205,Tunisia,NORTHERN AFRICA,10175014,163610,"62,2","0,70","-0,57","24,77",6900,"74,2","123,6","17,86","13,74","68,4",3,"15,52","5,13","0,132","0,318","0,55"
206,Turkey,NEAR EAST,70413958,780580,"90,2","0,92",0,"41,04",6700,"86,5","269,5","30,93","3,31","65,76",3,"16,62","5,97","0,117","0,298","0,585"
211,Ukraine,C.W. OF IND. STATES,46710816,603700,"77,4","0,46","-0,39","20,34",5400,"99,7","259,9","56,21","1,61","42,18",3,"8,82","14,39","0,187","0,452","0,361"
213,United Kingdom,WESTERN EUROPE,60609153,244820,"247,6","5,08","2,19","5,16",27700,"99,0","543,5","23,46","0,21","76,33",3,"10,71","10,13","0,005","0,237","0,758"
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
215,Uruguay,LATIN AMER. & CARIB,3431932,176220,"19,5","0,37","-0,32","11,95",12800,"98,0","291,4","7,43","0,23","92,34",3,"13,91","9,05","0,093","0,311","0,596"
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"